<!DOCTYPE html>
{% extends "base.html" %}        <!--  this loads the base.html template to this page  -->
{% load static %}
{% block title%}
login
{% endblock %}

{% block content %}

<div class="container">

<form method="POST">             <!-- in applic level form add method="POST" to send this form content to server -->
                   <!--here enctype is for media content,uploading type sending , updating and all-->

 {% csrf_token %}         <!--security feature used to send encrypted data from client side without getting manipulated  -->
    <div class="mb-3">
  <label  class="form-label">Username</label>
  <input type="text" class="form-control" name="u"  placeholder="Enter Username">
</div>                   <!--for each input type add name="t" used to retrieve value   -->

    <div class="mb-3">
  <label  class="form-label">Password</label>
  <input type="password" class="form-control" name="p"  placeholder="Enter Password">
</div>                                 <!--for each input type add name="t" used to retrieve value   -->


       <div class="mb-3">
    <center>
    <input type="submit"  class="btn btn-danger"></center>
    </div>

 </form>


{% endblock %}


<!--               for template inheritance we just need the content that we want only in this page-------------------- -->

