<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}              <!--always add load static after extends page---->

{% block title%}
Product
{% endblock %}

{% block content %}

<div class="container-fluid mt-4" style="margin-bottom:100px">
    <img src="{{ c.image.url }}" height="500px" width="100%">
</div>

<div class="container-fluid" style="margin-bottom:100px">
    <h3 class="text-center text-black fw-bold">{{ c.name }}</h3>
    <p style="text-align:justify;line-height:2">{{ c.desc }}</p>
</div>

<div class="container-fluid" style="margin-bottom:100px">
    <div class="row">

        {% for i in p %}
            <div class="col-sm-3 m-2 " style="height:px; width:350px;" >
            <div class="card m-5" style="width: 18rem;">
  <img src="{{i.image.url}}" height="200px" width="100%" class="card-img-top" alt="...">
  <div class="card-body" style="background-color:#e3f2fd">
    <h4 class="card-title">{{i.name}}</h4>
       <h5 class="card-title" style="font-size:15px">{{i.desc}}</h5>

    <a href="{% url 'shop:detail' i.id %}" class="btn btn-primary">View Detail</a>
  </div>
</div>
        </div>
{% endfor %}

    </div>
</div>

{% endblock %}
